<!DOCTYPE html>
<html lang="en">
	<head>
		<link type="text/css" rel="stylesheet" href="global.css" />
	</head>
	<body>
		<div class="root">
			<h1>Sign Up</h1>
			<form method="post" action="signin">
				<input type="text" name="username" id="username" placeholder="Username" required>
				<input type="password" name="password" id="password" placeholder="Password" required>
				<input type="submit" value="Sign in" class="logout">
				<button type="button" class="google">Google</button>
			</form>
		</div>
		<script src="google.js"></script>
	</body>
</html>